<!DOCTYPE html>
<html>
  <head>
    <title>Basic Login With Sails</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>

    <h1>Basic Login With Sails</h1>

    <% if (req.session.me) { %>
    <a href="/logout">Logout</a><br /><br />

    <button onclick="getLocation()">Click for Google Maps goodness</button><br /><br />
    <div id="locText">loc text here</div><br />
    <div id="mapCanvas" style="height:200px; width:200px;">map here</div><br />

    <% } else { %>
    <a href="/login">Login</a> | <a href="/signup">Signup</a>
    <% } %>


    <!--SCRIPTS-->
    <!-- <script src="/js/dependencies/sails.io.js"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
      var locText = document.getElementById("locText");
      var mapCanvas = document.getElementById("mapCanvas")

      function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition, showError);
          } else {
              locText.innerHTML = "Geolocation is not supported by this browser.";
          }
      }

      function showPosition(position) {
        var currentLat = position.coords.latitude;
        var currentLng = position.coords.longitude;

        locText.innerHTML = "Latitude: " + currentLat + "<br>Longitude: " + currentLng;

        var mapOptions = {
          zoom: 14,
          center: new google.maps.LatLng(currentLat, currentLng),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);
        vardump(map);

        var circleOptions = {
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#FF0000',
          fillOpacity: 0.35,
          map: map,
          center: new google.maps.LatLng(currentLat, currentLng),
          radius: 1000
        };
        var circle = new google.maps.Circle(circleOptions);
      }

      function showError(error) {
        switch(error.code) {
          case error.PERMISSION_DENIED:
            locText.innerHTML = "User denied the request for Geolocation."
            break;
          case error.POSITION_UNAVAILABLE:
            locText.innerHTML = "Location information is unavailable."
            break;
          case error.TIMEOUT:
            locText.innerHTML = "The request to get user location timed out."
            break;
          case error.UNKNOWN_ERROR:
            locText.innerHTML = "An unknown error occurred."
            break;
        }
      }
    </script
    <!--SCRIPTS END-->
  </body>
</html>
