<h1>Login</h1>
<form action="/login" method="post">

  <label for="username">Your username?</label>
  <input name="username" type="text"/>
  <br/>

  <label for="password">Your password?</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>
