<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">

<h1>sign up | heerheer</h1>
<form action="/signup" method="post">

  <label for="username">username</label>
  <input name="username" type="text"/>
  <br/>

  <label for="password">password</label>
  <input name="password" type="password"/>
  <br/>

  <input class="btn btn-default" type="submit" value="sign up" />
</form>

<a href="/login">already have an account?</a>

</div>
</div>
</div>
