<h1>Welcome! You have signed up successfully!</h1>

<a href="/">Back to home page</a>
<a href="/logout">Log out</a>

<br /><br />
<button onclick="getLocation()">Click for Google Maps goodness</button><br /><br />
<div id="locText">loc text here</div><br />
<div id="mapCanvas" style="height:200px; width:200px;">map here</div><br />
